:root {
  --bg: #f6f6fa;
  --ink: #1b1b1f;
  --bubble: hsl(0, 0%, 100%);
}

.hidden { display: none !important; }

@font-face {
  font-family: NB;
  src: url(font/NeueBrucke.ttf);
}

* { box-sizing: border-box; font-family: nb;}
html, body { margin: 0; padding: 0; overscroll-behavior-y: contain;}
body {
  background: var(--bg);
  color: var(--ink);
  margin: 0 auto; padding: 0rem; 
}

h2 {
  margin: 0;
  font-size: 1.2rem;
}

header {
  height: 12dvh;
  display: flex;
  align-items: center;
}

header img {
  margin-left: 1dvh;
  height: 10dvh;
}


.card {
  padding: 2dvh;
  height: 88dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  gap: 2dvh;
}

.wrappy {
  width: 100%;
}

.label { display: block; margin-bottom: .25rem; font-weight: 600; }
.input {
  width: 100%;
  padding: 0.875rem;
  font-size: 1rem;
  border: 1.5px solid var(--ink);
  border-radius: 0;
  box-shadow: 2.5px 3px 0 var(--ink);
  outline: none;
  transition: ease 0.25s;
  margin: .5rem 0 1rem 0;
}

.input:focus {
  box-shadow: 4px 5px 0 var(--ink);
}

.avatar-fieldset {
  width: 100%;
  border: 0;
  padding: 0;
  text-align: left;
}

.avatar-carousel {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  gap: 1vw;
}

.avatar-arrow {
  background: none;
  border: none;
  cursor: pointer;
  width: 12vw;
}

.arrow {
  width: 100%;
  height: auto;
}

#avatarImage {
  width: 65vw;
  height: auto;
  object-fit: contain;
}

.btn {
  padding: .5rem 2rem;
  border: none;
  border-radius: 100px;
  background: linear-gradient(145deg, #82e9fdf3, #ab9bfdfe);
  box-shadow:    
  #4564ff -2px -2px 10px inset,
  #ffffffa0 4px 4px 7px 1px inset,
  #5e53f686 0px -23px 25px 0px inset,
  #d0fffe48 0px -36px 30px 0px inset, 
  #3700ff0b 0px -79px 40px 0px inset,   
  rgba(0, 0, 0, 0.06) 0px 0.5px 0px, 
  rgba(0, 0, 0, 0.055) 1px 1px 0.5px, 
  rgba(0, 0, 0, 0.156) 1px 1px 2px,
  rgba(62, 28, 28, 0.091) 2px 2px 4px, 
  rgba(0, 0, 0, 0.073) 8px 4px 10px;
  transition: 300ms ease-out;
  overflow: hidden;
  cursor: pointer;
  filter:brightness(110%) contrast(110%);
  font-family: NB;
  color: #fff;
  height: 2rem;
 
}
.btn::before,
.btn::after{
  content:"";
  position:absolute; left:15%; width:70%; height:2px; border-radius:50%;
  filter: blur(1px);
  pointer-events:none;
}
.btn::before{ top:2px; background: rgba(250, 250, 250, 0.854); }
.btn::after{  bottom:1px; background: rgba(250, 250, 250, 0.222); }

.btn:hover {
  box-shadow:    
  #5933e1 -2px -2px 10px inset,
  #ffffffa0 4px 4px 7px 1px inset,
  #7068e286 0px -23px 25px 0px inset,
  #d0fffe48 0px -36px 30px 0px inset, 
  #3700ff0b 0px -79px 40px 0px inset,   
  rgba(0, 0, 0, 0.06) 0px 0.5px 0px, 
  rgba(0, 0, 0, 0.055) 1px 1px 0.5px, 
  rgba(0, 0, 0, 0.156) 1px 1px 2px,
  rgba(62, 28, 28, 0.091) 2px 2px 4px, 
  rgba(0, 0, 0, 0.073) 8px 4px 10px;
}

.flex {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: flex-end;
  height: 100%;

}

/* page 2 starts here 
____________________________________*/


.flex-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 88dvh;
  justify-content: space-between;
  align-items: center;
  padding: 2dvh;
}

.instructions {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1.7rem;
  height: 23dvh;
  padding-inline: 1rem;
  width: 100%;
}

.img-container {
  height: 12dvh;
  align-self: flex-end;
} 

.avatar {
  height: 12dvh;
}

.bubble {
  line-height: 1.3rem;
  background-color: #fff;
  padding: 1.3rem;
  text-align: center;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.25) 1px 0.0625em 0.0625em, rgba(0, 0, 0, 0.105) 4px 0.125em 0.5em, #3100b70c 0 0 25px 0;
  position: relative;
  width: 100%;
  }
  
  .bubble:after {
    content: '';
    position: absolute;
    left: 0;
    top: 45%;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-right-color: #fff;
    border-left: 0;
    border-bottom: 0;
    margin-top: -10px;
    margin-left: -17px;
  }

  .brezel {
    height: 10dvh;
    z-index: 10;
    animation: pulse 2s infinite ease-in-out;
    
  } 

@keyframes pulse {
    0% {
        transform: scale(0.95);
    }

    50% {
        transform: scale(1);
        filter:brightness(110%) contrast(110%);

    }

    100% {
        transform: scale(0.95);
    }
}

p {
  margin: 0%;
  padding: 0;
}




  .item { cursor: grab; user-select: none; display: inline-flex; }
 
  .draggable--is-dragging { filter: brightness(110%); }
  .draggable-mirror { box-shadow: none;}



  .in-basket { opacity: 0; pointer-events: auto; }

  .submit-container {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin-top: 2vh;
    padding-right: 2vw;
  }

  .btn:disabled {
    color: #ffffff74;           
    cursor: default;  
    opacity: 0.7; 
  }

  #step-sort .bubble small {
    font-size: .9rem;     
  }

  .baskets {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 5vw;
    padding: 0dvh 2dvh 6dvh 2dvh;
    width: 100%;
   
    border: solid 1px var(--ink);
    border-radius: 100%;
    
  }
  
  .basket {
    position: relative;
    width: min(28vw, 180px);
  }
  
  .basket img {
    width: 100%;
    display: block;
    pointer-events: none;
    user-select: none;
  }
  
  
  .basket2 {
    align-self: flex-start;
  }
  
  .basket .slot {
    position: absolute;
    inset: 0;
    display: flex; align-items: center; justify-content: center;
    pointer-events: auto;
  }

  .note {
    text-align: center;
    margin-top: 5px;
  }
  
  /* keep your existing .hidden for other places */
.hidden { display: none !important; }
.draggable-mirror { z-index: 9999; }

.visible {
  display: block;
}
 
* {
  touch-action: none;   
}
